# docker-node-dev

Node development image ${IMAGE_VERSION}

## Versions / packages
* Node ${NODE_VERSION}: https://nodejs.org/en/
- Dockerize ${DOCKERIZE_VERSION}: https://github.com/jwilder/dockerize

## Usage

### Standalone app:

Assumes that `app` is the directory that contains your package.json.
```
docker run --rm \
      -v `pwd`/examples/links/app:/work/app \
      ${IMAGE_NAME}:${IMAGE_VERSION} \
      npm start
```
