# docker-node-dev

* Node development image based on alpine-node ${VERSION}

## Versions
- alpine-node ${VERSION}

## Usage

```docker run --rm -v `pwd`/src:/app/src chrisgarrett/node-dev npm run start```

## Credits
